.travel-section h1 {
  text-align: center;
  padding: 25px 0px;
  color: rgb(14, 155, 226);
  font-size: 24px;
  font-weight: 900;
  margin-top: 30px;
}

.container {
  margin: 0 15%;
  width: 1170px;
  /* height: 00px; */
  display: flex;
  /* flex-wrap: wrap;   */
  /* border: 1px solid red; */
  /* justify-content: space-between; */
}
.travel-items {
  /* flex-basis: 25%; */
  margin-left: 35px;
}

.image-wrapper {
  margin-top: 2rem;
  display: flex;
  position: relative;
}
.image {
  width: 200px;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  border: 2px solid orange;
}
.image-text {
  position: absolute;
  bottom: 5%;
  color: orange;
  /* left: 0;
    right: 0; */
  padding-left: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* @media only screen and (min-width: 200) and (max-width: 680px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .travel-items {
    margin: 10px;
  }
} */

::placeholder {
  color: red;
}
:-ms-input-placeholder {
  color: red;
}

@media only screen and (max-width: 680px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .travel-items {
    margin: 10px;
  }
  .image-text {
    font-size: 16px;
  }
}
